@use "../../assets/styles/" as *;

.object-item {
  width: 120px;
  text-align: center;
  position: relative;
  height: fit-content;
  img {
    width: 80px;
  }
  &__name {
    display: -webkit-box;
    overflow: hidden;
    text-overflow: ellipsis;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
  }

  &__popover {
    &--item {
      padding: 8px 16px;
      display: flex;
      gap: 6px;
      align-items: center;
      cursor: pointer;

      &-configure {
        color: $primary-color;

        &:hover {
          background-color: #e6f7ff;
        }
      }
      &-delete {
        color: $red-color;

        &:hover {
          background-color: rgb(220 53 69 / 5%);
        }
      }
    }
  }
}

.ant-popover-inner {
  border-radius: 6px;
}
