@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");
$primary-color: #1890ff;
$light-color: #f1f6f8;
$dark-color: #001529;
$green-color: #14b8a6;
$red-color: #dc3545;
$font-family-primary: "Inter", sans-serif;
$btn-box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
